extends ../layouts/common.pug
block header

    .reading-box
        .box-lid-menu
            .box-lid-icon
            nav
           
                h4 Projects
                ul
                    li
                        a(href='https://www.jqueryscript.net/menu/Easy-jQuery-3D-Side-Menu-Plugin-with-CSS3-Box-Lid.html') Download
                    li
                        a(href='#') Iron Man 3
                    li
                        a(href='#') Audi E Tron
        .box-lid
            .box-lid-content
         
                .container.content
                    h2 &Dstrok;&acirc;y l&agrave; d&ograve;ng &dstrok;&acirc;u ti&ecirc;n
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    h2 &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    h2 1 &dstrok;o&#x1EA1;n h2 ti&#x1EBF;p theo cho &dstrok;&#x1EB9;p 
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
                    p &dstrok;&acirc;y l&agrave; m&ocirc; t&#x1EA3; c&#x1EE7;a nh&#x1EEF;ng d&ograve;ng &dstrok;&#x1EA7;u ti&ecirc;n, vi&#x1EBF;t linh tinh t&iacute; nh&aacute;
