doctype html
html
head
    meta(charset='UTF-8')
    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href='/font-awesome/fontawesome.css')
    link(rel='stylesheet', href='/box-lid/css/box-lid.css')
    link(rel='stylesheet', href='/css/main.css')


    script(src="/jquery/jquery.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src='/box-lid/js/jquery.box-lid.min.js')
    script(src='/js/main.js')

block header