extends ./layouts/common.pug
block header
   
    .main.container-fluid
        .row.list-box-cat.pt-5.mt-5
            .item-col.col.col-md-3.col-sm-6
                .card.card-flip.h-25
                    .card-front.text-white.bg-dark
                        .card-body
                            img.w-100.h-50(src='/images/post-avt.jpg', alt='')
                            h5.card-title D&#x1ECB;ch v&#x1EE5;
                    .card-back.bg-white
                        .card-body
                            p.card-text content on the back!
                            a.btn.btn-outline-secondary(href='#') Action
            .item-col.col.col-md-3.col-sm-6
                .card.card-flip.h-25
                    .card-front.text-white.bg-dark
                        .card-body
                            img.w-100.h-50(src='/images/post-avt.jpg', alt='')
                            h5.card-title Java Script
                    .card-back.bg-white
                        .card-body
                            p.card-text content on the back!
                            a.btn.btn-outline-secondary(href='#') Action
            .item-col.col.col-md-3.col-sm-6
                .card.card-flip.h-25
                    .card-front.text-white.bg-dark
                        .card-body
                            img.w-100.h-50(src='/images/post-avt.jpg', alt='')
                            h5.card-title Wordpress
                    .card-back.bg-white
                        .card-body
                            p.card-text content on the back!
                            a.btn.btn-outline-secondary(href='#') Action
            .item-col.col.col-md-3.col-sm-6
                .card.card-flip.h-25
                    .card-front.text-white.bg-dark
                        .card-body
                            img.w-100.h-50(src='/images/post-avt.jpg', alt='')
                            h5.card-title Marketing
                    .card-back.bg-white
                        .card-body
                            p.card-text  content on the back!
                            a.btn.btn-outline-secondary(href='#') Action
